body {
    background: rgb(245, 184, 72);
    font: 16px arial, Helvetica, sans-serif;
}

#principal {
 width: 900px;
}

#menu {
    background: orangered;
    padding: 18px;
}

#conteudo {
    background: red(218, 59, 59);
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.texto {
    text-align: justify;
}

.imagem {
    margin-right: 30px;
}

